/* lato-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/lato-v24-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* lato-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/lato-v24-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* lato-900 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/lato-v24-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

html {
    box-sizing:border-box;
    background-color: #d34995;
}

*,*::before,*::after {
    box-sizing: inherit;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  width: 1920px;
  height: 6764.75px;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  background-color: #FFF;
}


a {
  color: inherit;
  text-decoration: none;
}
 
img {
  max-width: 100%;
  max-height: 100%;
}

button {
  display: block;
  border: none;
  font: inherit;
  background-color: transparent;
  transition: .4s;
  cursor: pointer;
}
.header__wrapper {
  max-width: 1170; /*1920*/
  margin: 0 auto;
  padding: 0 20px;
}

/*heater styly start*/

.header{
  width: 1920px;
  height: 900px;
  flex-shrink: 0;
  background: url(../img/image_bg.jpg) no-repeat center;
}

.header__wrapper{
  display: flex;
  flex-wrap: wrap;
  width: 1828px;
  height: 115px;
  flex-shrink: 0;

}

.header__logo-pic{
  width: 131.813px;
height: 19.984px;
flex-shrink: 0;
background: url(/img/svg/logonew_1.svg), lightgray 0px 0px / 100% 100% no-repeat;
margin-top: 47px;
}

.header__list{
  display: inline-flex;
  height: 115px;
  justify-content: center;
  align-items: flex-start;
  gap: 35.078px;
  flex-shrink: 0;
  margin-top: 50px;
  margin-left: 585px;
  
}

.binocl_img{
  display: flex;
  height: 115px;
  justify-content: flex-end;
  align-items: flex-start;
  flex-shrink: 0;
  margin-left: 590px;
  position: relative;
  top: -20px;
}

.header__link{
  color: #000;
  font-family: Lato;
  font-size: 15px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px; /* 140% */
}

.header__link:hover, .header__link:focus, .header__link:active{
  opacity: .75;
}
  /* Header style and*/

  /* main section style start */
.intro__title{
  position: relative;
  display: flex;
  width: 582.028px;
  height: 217px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #000;
  font-family: Lato;
  font-size: 95px;
  font-style: normal;
  font-weight: 700;
  line-height: 103px; /* 108.421% */
  top: -715px;
  left: 300px;
}

.intro__subtitle {
  display: flex;
  width: 375.044px;
  height: 26px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #000;
  font-size: 21px;
  font-weight: 400;
  line-height: 27px; /* 142.105% */
  position: absolute;
  top: 420px;
  left: 300px;
}

.button_apple {
  position: relative;
  top: -620px;
  left: 320px;
}

.button_soundcloud {
  position: absolute;
  top: 498px;
  left: 520px;
}

   /*first section style start*/
.timmy {
  max-width: 1300px;
  margin: 0 auto;
  box-shadow: 0px 2px 20px 0px rgba(21, 24, 36, 0.16);
  background-color: #fff;
  position:relative;
}

.timmy__wrap {
  display: flex;
  border-radius: 5px;
  position:absolute;
  transform: translateY(-140%);
  background-color: #fff;
  width:100%;
  height: 291px;
  border-radius: 10px;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.08);
}

.timmy__img {
  height: 291px;
  width: 291px;
  border-radius: 5px;
}

.timmy__text {
  margin:  35px 52px 20px 35px;
  position: relative;
}

.timmy__spes {
  max-width: 450px;
  color: #000;
  font-family: sans-serif bold;
  font-size: 38px;
  font-weight: 700;
  line-height: 44.08px;
  letter-spacing: 0px;
  padding-bottom: 15px;
}

.timmy__title {
  height: 28px;
  color: #8E8B8C;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
}

.timmy__more {
  position: relative;
  top: -120px;
  left: 780px;
  gap: 10px;
  height: 30px;
  color: #000;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}

.timmy__grafik {
  display: flex;
  flex-wrap: wrap;
  margin-left: 35px;
  position: relative;
  top: -20px;
}

.timmy__desk {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 70px;
  color: #FFF;
  border: 2px solid #cecece;
  font-weight: 70px;
}

.param_1 {
  position: absolute;
  padding: 35px 0 0 75px;
  color: #8E8B8C;
  font-size: 14px;
}

.param_2 {
  position: absolute;
  padding: 35px 0 0 120px;
  color: #8E8B8C;
  font-size: 14px; 
}

.black__line {
  left: 10px;
  font-weight: 500;
  line-height: 0px;
  width: 137px;
  font-size: 40px;
  color: #000;
  position: absolute;
  padding: 30px 0 0 150px;
}

.black__link {
  position: absolute;
  left: 170px;
  top: 30px;
  border-bottom: #000 1px;
  width: 580px;
  height: 0;
}

.taim_line {
  position: relative;
  top: 25px;
  left: 710px;
  color: #8E8B8C
}

.zvuk__line{
  position: absolute;
  top: 15px;
  left: 870px;
  color: #000;
}

/*Section 2-style start*/
.best__section {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  margin: 50px 300px 140px;
}

.best__top {
  font-family: sans-serif;
  display: flex;
  justify-content:space-between;
  gap: 120px;
}

.text__section {
  padding: 20px;
}

.best__spes {
  color: #000;
  max-width: 505px;
  height: 110px;
  font-size: 50px;
  font-weight: 700;
  line-height: 55px;
  margin-bottom: 20px;
}

.best__desk {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 70px;
  color: #FFF;
  border: 2px solid #cecece;
  font-weight: 70px;
}

.best__title {
  position: relative;
  left: 100px;
  top: -55px;
  color: #000;
}

.best__line {
  position: relative;
  left: 100px;
  top: -45px;
  height: 28px;
  color: #8E8B8C;
  font-size: 14px;
  font-weight: 400;
  line-height: 27px;
}

.best__text {
  width: 505px;
  height: 260px;
  color: #000;
  font-size: 17px solid;
  font-family: sans-serif;
  font-weight: 400;
  line-height: 27px;
  margin-top:-20px;
}

.best__more {
  position: relative;
  top: 470px;
  right: 645px;
  gap: 10px;
  height: 30px;
  color: #000;
  font-size: 15px;
  font-weight: 700;
  line-height: 30px;
}

.best__img{
  width: 530px;
  height: 530px;
  border-radius: 2px;
}

 /*section_3 style start*/
.podcasts__section {
  display: flex;
  width: 1920px;
  height: 831.5px;
  padding: 92px 0px 107px 0px;
  justify-content: space-between;
  align-items: center;
  background-color: #f3f2f2;
}

.podcasts-spes {
  display: flex;
  width: 302.731px;
  height: 60px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-family: Lato;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 55px; /* 110% */
  position: relative;
  top: -60px;
  left: 800px;
  bottom: 0px;
}

.podcasts__title {
  display: flex;
  width: 415.45px;
  height: 23px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27.03px; /* 159% */
  position: relative;
  top: -50px;
  left: 750px;
}

.podcasts__foto__text {
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
}

.top__podcasts__open {
  display: flex;
  height: 392.5px;
  justify-content: center;
  align-items: flex-start;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.08);
}

.podcasts__foto-open {
  width: 110px;
  height: 392.5px;
  flex-shrink: 0;
 }

.open__text {
  width: 392.5px;
  height: 392.5px;
  margin-top: 120px;
  margin-left: 40px;
  margin-right: -50px;
}

.podcasts__list {
  color: #8E8B8C;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 27.03px;
  width: 140px;
  height: 28px;
  bottom: 5px;
}

.podcasts__selects {
display: flex;
width: 288px;
height: 67px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
color: #000;
font-size: 27px;
font-weight: 700;
line-height: 34px;
}

.podcasts__link {
  height: 0;
  width: 280px;
  position: relative;
  top: -10px;
}

.podcasts__more {
  position: relative;
  top: 10px;
  right: 0px;
  gap: 10px;
  height: 30px;
  color: #000;
  font-size: 15px;
  font-weight: 700;
  line-height: 30px;
}

.strel {
  position: absolute;
  top: -10px;
  left: 90px;
}

.top__podcasts__keep {
  display: flex;
  height: 392.5px;
  justify-content: center;
  align-items: flex-start;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.08);
}

.podcasts__foto-keep {
  width: 392.5px;
  height: 392.5px;
  flex-shrink: 0;
}

.podcasts__keep__img {
  border-radius: 10px;
}

.keep__text {
  width: 392.5px;
  height: 392.5px;
  margin-top: 120px;
  margin-left: 40px;
  margin-right: -50px;
}

.top__podcasts__ben {
  display: flex;
  height: 392.5px;
  justify-content: center;
  align-items: flex-start;
  background: #FFF;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.08);
}

.podcasts__foto-ben {
  width: 392.5px;
  height: 392.5px;
  flex-shrink: 0;
}

.podcasts__ben__img {
  border-radius: 10px;
}

.ben__text {
  width: 392.5px;
  height: 392.5px;
  margin-top: 120px;
  margin-left: 40px;
  margin-right: -50px;
}

.ben__text {
  width: 110px;
  height: 392.5px;
}

.podcasts__link_end {
  height: 0;
  width: 60px;
}

.podcasts__icon {
  position: relative;
  top: -360px;
  left: 15px;
}

.podcasts__fs {
  position: relative;
  top: -360px;
  left: 310px;
}

.podcasts__and {
  color: #000;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
  top: 55px;
  left: 0px;
}

/*section 4-style start*/
.essential__episodes {
  margin-bottom: 210px;
}

.essential__cards {
  display: flex;
  width: 419px;
  height: 60px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  font-size: 50px;
  color: #000;
  font-weight: 700;
  line-height: 55px;
  margin: 124px 0 58px 310px;
}

.essential__cards_more {
  position: relative;
  top: -100px;
  left: 1430px;
  gap: 10px;
  height: 30px;
  color: #000;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}

.strel__cards {
  position: relative;
  top: 0px;
  left: 10px;
}

.essential__foto-text{
  display: grid;
  grid-template-columns: 385px 385px 385px;
  grid-template-rows: 600px 600px;
  grid-column-gap: 80px;
  grid-row-gap: 30px;
  margin: 0 310px;
}

.episode__img {
  width: 385px;
  height: 385px;
  border-radius: 10px 10px 0 0;
} 

.episode__icon-img {
  position: relative;
  top: -355px;
  left: 310px;
}

.episode {
  width: 385px;
  height: 600px;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0px 2px 20px 0px rgba(21, 24, 36, 0.16);
  background-color: #fff;
}

.episode__title {
  display: flex;
  width: 155px;
  height: 19px;
  flex-direction: column;
  justify-content: center;
  color: #828486;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 20px;
}

.episode__text{
  display: block;
  padding: 0px 50px 30px 40px;
}

.episode__spes {
   display: flex;
  width: 250px;
  height: 33px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #000;
  font-size: 24px;
  font-weight: 700;
  line-height: 20px;
}

.episode__link {
  width: 250px;
  height: 0;
  border-color: #000;
}

.episode__line {
  position: relative;
  top: 30px;
  right: 250px;
  width: 100px;
  height: 19px;
  color: #828486;
  font-size: 16px;
  font-weight: 400;
}

.episode__icon {
  position: relative;
  top: 6px;
  left: 25px;
  width: 20px;
  height: 20px;
}

/*section - 5 style start*/
.video__img {
  width: 1920px;
  height: 710.6px;
  position: relative;
  top: 0px;
  left: 0;
}

.center {
  width: 90px;
  height: 90px;
  flex-shrink: 0;
  border-radius: 45px;
  background: #FFF;
  position: relative;
  top: -400px;
  left: 915px;
}

/*section - 6 style start*/
.meet__hosts {
  padding: 50px 786px 59px 310px;
}

.essential__spes {
  position: relative;
  top: 0px;
  left: 30px;
  width: 375px;
  height: 60px;
  color: #000;
  font-size: 50px;
  font-weight: 700;
  line-height: 55px;
  bottom: 59px;
}

.essential__more {
  position: relative;
  top: -25px;
  left: 1150px;
  gap: 10px;
  height: 30px;
  color: #000;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
}

.strel_meet {
  position: relative;
  top: 0px;
  left: 10px;
}

.meet__foto-text{
display: flex;
width: 1370px;
height: 676.5px;
padding: 0px 35px 70px 35px;
justify-content: center;
align-items: flex-start;
gap: 70px;
color: #8E8B8C;
position: relative;
top: -50px;
left: 300px;
}

.meet__bella__img {
  width: 385px;
  height: 445px;
  flex-shrink: 0;
  border-radius: 10px 10px 0px 0px;
}

.meet__text {
  width: 385px;
  height: 160px;
  padding: 22px 196px 3px 26px;
  border-radius: 0 0 10px 10px;
  box-shadow: 0px 2px 20px 0px rgba(21, 24, 36, 0.16);
  background-color: #fff;
}

.meet__spes {
  display: flex;
  width: 200px;
  height: 33px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #000;
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
}

.meet__title {
  display: flex;
  width: 120px;
  height: 19px;
  flex-direction: column;
  justify-content: center;
  color: #828486;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 20px;
}

.meet__icon {
  width: 25px;
  height: 25px;
  padding: 5px;
  border-radius: 11px;
  background-color: #8E8B8C;
  margin: 10px;
  position: relative;
  left: -10px;
}

/*footer style start*/

.footer {
  width: 1920px;
  height: ;
  background-color: #000;
  color: #FFF;
  padding: 134px 0 130px 295px;
}

.resonator__logo {
  display: inline-flex;
  padding: 0px 155.5px 1.656px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0px;
  color: #969696;
  font-size: 27px;
  font-weight: 700;
  line-height: 34px;
  width: 602px;
  height: 67px;
  margin-bottom: 0px;
}

.resonator__title {
  display: flex;
  width: 131.559px;
  height: 18px;
  flex-direction: column;
  justify-content: center;
  color: #969696;
  font-size: 13px;
  font-weight: 400;
  line-height: 20.67px;
}

.resonator__spes {
  display: flex;
  width: 602px;
  height: 67px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #FFF;
  font-size: 27px;
  font-weight: 700;
  line-height: 34px;
  position: relative;
  top: -70px;
  left: 450px;
  margin-bottom: 113px;
}

.resonator__text {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  top: 0;
  left: 450px;
  gap: 70px;
}

.resonator__top {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.resonator__start__title {
  display: flex;
  width: 166.325px;
  height: 22px;
  flex-direction: column;
  justify-content: center;
  color: #969696;
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
  margin-bottom: 25px;
}

.resonator__text__title {
  display: flex;
  width: 184.669px;
  height: 50px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #CCC;
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 82px;
}

.resonator__link {
  display: flex;
  width: 235px;
  height: 18px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #CCC;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
}

.follow_and {
  position: relative;
  top: -20px;
}

.iconky__footer {
  flex-wrap: wrap;
  width: 21px;
  height: 21px;
  margin: 5px;
  color: #969696;
  line-height: 21px;
  position: relative;
  top: -50px;
  left: 0px; 
}

.text__and {
  position: relative;
  top: 20px;
}

/*footer style and.*/


@media(max-width: 500px){
  body{
      text-align: center ;
      display: block;
  }
}